@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}
body {
    background: $bg;
}

.btn {
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    background: lighten($primary, 10%);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#error {
    position: absolute;
    background: $danger;
    color: white;
    padding: 0.5em 1em;
    max-width: 80vw;
    left: 50%;
    bottom: 1.5em;
    border-radius: 0.5em;
    transform: translate(-50%);
}

.hide {
    visibility: hidden;
}

.container-logged {
    width: 100%;
    height: 100vh;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 2em;
        background: lighten($primary, 5%);
        color: white;
        i {
            color: white;
            cursor: pointer;
        }
        .strt {
            color: white;
            display: flex;

            a {
                color: white;
                cursor: pointer;
            }

            i {
                margin-right: 2em;
            }
        }
    }
}

@media (min-width: 991.98px) {
}

//Pantallas medianas (tablets de menos de 992px)
@media (max-width: 991.98px) {
}
