@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

body {
  background: #eceff4;
}

.btn {
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  background: #08af4c;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

#error {
  position: absolute;
  background: #e74c3c;
  color: white;
  padding: 0.5em 1em;
  max-width: 80vw;
  left: 50%;
  bottom: 1.5em;
  border-radius: 0.5em;
  transform: translate(-50%);
}

.hide {
  visibility: hidden;
}

.container-logged {
  width: 100%;
  height: 100vh;
}
.container-logged nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  background: #079642;
  color: white;
  position: relative;
  height: 3em;
}
.container-logged nav .account {
  position: absolute;
  background: white;
  top: 100%;
  right: 1em;
}
.container-logged nav .account div {
  padding: 1em;
}
.container-logged nav .account div:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
}
.container-logged nav .account i {
  color: black;
  margin-right: 0.5em;
}
.container-logged nav i {
  color: white;
  cursor: pointer;
}
.container-logged nav .strt {
  color: white;
  display: flex;
}
.container-logged nav .strt a {
  color: white;
  cursor: pointer;
}
.container-logged nav .strt i {
  margin-right: 2em;
}
.container-logged .body {
  width: 100%;
  height: calc(100% - 3em);
  display: flex;
  gap: 1em;
}
.container-logged .body .aside {
  width: 15%;
  background: white;
  transition: 0.3s ease-in-out;
  display: flex;
  padding-top: 1em;
  align-items: flex-start;
  flex-direction: column;
}
.container-logged .body .aside a {
  transition: 0.2s ease-in-out;
  width: 100%;
  display: flex;
  justify-content: left;
  position: relative;
  padding: 1em 2em;
  z-index: 1;
  align-items: center;
}
.container-logged .body .aside a i {
  margin-right: 1em;
  transition: 0.3s ease-in-out;
}
.container-logged .body .aside a:hover {
  cursor: pointer;
  color: white;
}
.container-logged .body .aside a:hover i {
  color: white;
}
.container-logged .body .aside a::before {
  content: "";
  background: #079642;
  width: 0%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}
.container-logged .body .aside a:hover:before {
  width: 100%;
}
.container-logged .body .w0 {
  width: 0;
}
.container-logged .body .w0 a {
  width: 0;
  visibility: hidden;
}
.container-logged .body .w0 a i {
  display: none;
}

.frm_usr {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.frm_usr .title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 1em;
}
.frm_usr .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 1em;
  width: 40%;
}
.frm_usr .inputs .frm-ctl {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.frm_usr .inputs .frm-ctl input {
  padding: 0.5em;
  border-radius: 0 0.5em 0.5em 0;
  border: 1px solid #067e37;
  height: 2.5em;
  min-height: 2.5em;
}
.frm_usr .inputs .frm-ctl input {
  width: calc(100% - 40px);
}
.frm_usr .inputs .frm-ctl input:active,
.frm_usr .inputs .frm-ctl input:focus {
  outline: #067e37;
}
.frm_usr .inputs .frm-ctl i {
  color: white;
  background: #067e37;
  padding: 0 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  text-align: center;
  height: 100%;
  border-radius: 0.5em 0 0 0.5em;
}
.frm_usr .inputs input[type=submit] {
  width: 100%;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table th,
table td {
  padding: 12px 15px;
}
table thead tr {
  background: #067e37;
  text-align: left;
}
table thead tr th {
  color: white;
}
table thead tr th:first-child {
  width: 50px;
}
table tbody tr {
  border-bottom: 1px solid #dddddd;
}
table tbody tr:hover {
  font-weight: bold;
}
table tbody tr .action {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
table tbody tr .action a:first-child {
  margin-right: 0.5em;
}
table tbody tr:nth-of-type(even) {
  background: #f3f3f3;
}
table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.mantenimiento {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mantenimiento .titulo {
  font-size: 23px;
  margin-bottom: 1em;
}
.mantenimiento .acn {
  background: #067e37;
  padding: 0.5em;
  border-radius: 0.5em;
}
.mantenimiento .acn:hover {
  cursor: pointer;
}
.mantenimiento .acn i {
  color: white;
}
.mantenimiento form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0.5em;
}
.mantenimiento form input,
.mantenimiento form select {
  height: 2.5em;
  padding: 0 1em;
}
.mantenimiento form button {
  background: #067e37;
  height: 2.5em;
  padding: 0 1em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
}
.mantenimiento form button i {
  color: white;
}
.mantenimiento form select {
  background: white;
  border-radius: 4px;
}
.mantenimiento table {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
